Codes/chapter03/big*.txt

Codes/chapter06/learn-express/node_modules

Codes/chapter07/learn-sequelize/node_modules

Codes/chapter08/learn-mongoose/node_modules

Codes/chapter09/nodebird/node_modules

Codes/chapter10/nodebird-api/node_modules

Codes/chapter10/nodecat/node_modules

Codes/chapter11/nodebird/node_modules

Codes/chapter12/gif-chat/node_modules